.adminbg{
    background: url("../../../public/images/netflix.jpg"),rgba(0, 0,0, .6);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;  
    height: 100vh; 
}